@model Norton.Models.Facturas

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Facturas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FacturaProyecto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FacturaProyecto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FacturaSerie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FacturaSerie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FacturaNumero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FacturaNumero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FacturaFechaEmision)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FacturaFechaEmision)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FacturaFechaVencimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FacturaFechaVencimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FacturaMoneda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FacturaMoneda)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FacturaEstado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FacturaEstado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FacturaSubtotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FacturaSubtotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FacturaIgv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FacturaIgv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FacturaImporteTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FacturaImporteTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FacturaFondoGarantia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FacturaFondoGarantia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FacturaPorcentajeDetraccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FacturaPorcentajeDetraccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FacturaMontoDetraccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FacturaMontoDetraccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FacturaImportePagar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FacturaImportePagar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FacturaUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FacturaUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FacturaFechaPagoProgramada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FacturaFechaPagoProgramada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TiposFacturas.TipoFacturaCodigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TiposFacturas.TipoFacturaCodigo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FacturaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
