@model IEnumerable<NortonMvc.Models.OrdenesDetalle>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrdenDetalleItem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrdenDetalleDescripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrdenDetalleCuotas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrdenDetalleUnidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrdenDetallePrecioUnitario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrdenDetallePrecioTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ordene.OrdenCodigo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrdenDetalleItem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrdenDetalleDescripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrdenDetalleCuotas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrdenDetalleUnidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrdenDetallePrecioUnitario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrdenDetallePrecioTotal)
            </td>
            <td>
                <a data-target="#EdicionDetalle" data-id="@item.OrdenDetalleId">Editar</a> |
                <a data-target="#confirmar" data-id="@item.OrdenDetalleId" data-mensaje="¿Esta seguro de eliminar el detalle: @item.OrdenDetalleDescripcion?" data-href="@Url.Action("Borrar")?id=@item.OrdenDetalleId" data-titulo="Eliminar Detalle">Eliminar</a> 
            </td>
        </tr>
    }

</table>
