@model Norton.Models.Ordenes

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Ordenes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrdenCodigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrdenCodigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrdenTipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrdenTipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrdenFecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrdenFecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrdenSubtotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrdenSubtotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrdenIgv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrdenIgv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrdenTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrdenTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrdenPlazoEntrega)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrdenPlazoEntrega)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrdenFormaPago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrdenFormaPago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrdenContactoInterno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrdenContactoInterno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrdenLugarEntrega)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrdenLugarEntrega)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrdenEstado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrdenEstado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrdenObservacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrdenObservacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrdenMotivoRechazo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrdenMotivoRechazo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Proveedores.ProveedorRuc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Proveedores.ProveedorRuc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OrdenId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
